.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.name_item{
    margin-top: 10px;
}
.name_item a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.name_item a:focus {
    border-bottom: 1px #5F8C7F solid;
}

.messages_item {
    color: white;
    margin-top: 10px;
    font-size: 17px;
}
.sendMessage {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}
.button {
    background-color: 	#BFBF82;
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    margin-left: 20px;
}
.button:hover {
    cursor: pointer;
}
.text{
    padding: 7px;
    outline: none;
    border: none;
    resize: none;
    width: 250px;
    height: 40px;
}
