.nav {
    grid-area: nav;
    background-color: white;
  }

.nav ul {
    list-style: none;
    padding: 0px;
}
.nav ul li {
  margin-top: 10px;
}
.nav ul a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.nav ul a:hover {
  font-size: 18px;
}

.nav ul a:focus {
  border-bottom: 2px #A170BC solid;
}

